*.core
*.log
/.ditz-config
/.gdb_history
/CMakeCache.txt
/CMakeFiles
/Makefile
/cmake_install.cmake
/configure.conf
/include/ubackup/config.h
/install_manifest.txt
/share/ubackup/CMakeFiles
/share/ubackup/Makefile
/share/ubackup/cmake_install.cmake
/src/CMakeFiles
/src/Makefile
/src/cmake_install.cmake
/src/ubackupee
/src/ubackuper
/tests/CMakeFiles
/tests/Makefile
/tests/center
/tests/cmake_install.cmake
